body {
  background-color: lightgrey;
}

.marcadores {
  border-radius: 25px;
  border: 2px solid #73ad21;
  padding: 20px;
  width: 200px;
  height: 150px;
  font-size: x-large;
}

.blanco {
  background-image: url("../img/madera_blanca.png");
  width: 80px;
  height: 80px;
}

.negro {
  background-image: url("../img/madera_negra.png");
  width: 80px;
  height: 80px;
}
#c00,
#c01,
#c02,
  background-image: url("../img/madera_blanca.png");
  width: 80px;
  height: 80px;
}

.negro {
  background-image: url("../img/madera_negra.png");
  width: 80px;
  height: 80px;
}


#botonEmpezar {
  margin: auto;
}

#tablero{
  border: 3px solid black;   
}

#textarea {
    border-radius: 10px;
    border: 1px solid #000;
}
